<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body  >

<div>

  <!-- <div class="goBack">
    <a onclick="history.back()" class="btn btn-outline-secondary"
      ><i class="fa-solid fa-angles-left"></i>Go Back</a
    >
</div> -->
  
  <table
        class="table container-sm table-striped caption-top"
        
      >
      <div class="goBack">
        <a onclick="history.back()" class="btn btn-outline-secondary"
          ><i class="fa-solid fa-angles-left"></i>Go Back</a
        >
        <caption class="caption text-center">
          History
        </caption>
    </div>

      <thead class="table-dark">
        <tr>
          <th scope="col">S.NO.</th>
          <th scope="col">Employee Id</th>
          <th scope="col">Name</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
      <% users.forEach(function (user,i) { %>
        <td><%= i + 1 %></td>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.createdAt %></td>



      </tbody>
      <% }) %>
      </table>
    </div>
</div>

    <!-- <div class="history ">
      
      <ul class="historyContainer">
        <% users.forEach(function (user) { %>
        <li class="historyList">
          <p><span class="sideHeading">Id: </span><%= user.id %></p>

          <p><span class="sideHeading">Name: </span><%= user.name %></p>

          <p><span class="sideHeading">Time: </span><%= user.createdAt%></p>
        </li>
        <% }) %>
      </ul>
    </div> -->
  </body>
</html>
