<!-- include header -->
<%- include('include/header') %>
<!-- /include header -->
  <body>
    <div class="h-screen bg-gray-100 padding">
      <h1 class="text-center mt-2">History</h1>
      <div class="d-flex flex-direction-row justify-content-start mb-2 p-1">
        <a onclick="history.back()" class="btn btn-outline-secondary"
          ><i class="fa-solid fa-angles-left"></i>Go Back</a
        >
      </div>
      <div class="overflow-auto rounded-lg shadow p-1 d-none d-lg-block">
        <table class="table table-striped caption-top text-center">
          <thead class="table-dark">
            <tr>
              <th scope="col">S.NO.</th>
              <th scope="col">Employee Id</th>
              <th scope="col">Name</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(function (user,i) { %>
            <td id="numbering"><%= i + 1 %></td>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.createdAt %></td>
          </tbody>
          <% }) %>
        </table>
      </div>

      <!-- responsive to the mobile and tab -->
      <div class="d-block d-lg-none">
        <div class="m-2">
          <table>
            <% users.forEach(function (user,i) { %>
            <tr>
              <th>S.NO.</th>
              <th class="information"><%= i + 1 %></th>
            </tr>
            <tr>
              <td>Employee Id</td>
              <td class="information"><%= user.id %></td>
            </tr>
            <tr>
              <td>Name</td>
              <td class="information"><%= user.name %></td>
            </tr>
            <tr>
              <td>Time</td>
              <td class="information"><%= user.createdAt %></td>
            </tr>
            <% }) %>
          </table>
        </div>
      </div>
    </div>
  </body>
  <script>
    
  </script>
</html>
