<!-- include header -->
<%- include('include/header') %>
<!-- /include header -->

  
    <div class="h-screen bg-gray-100">
      <h1 class="text-center mt-2 mb-2">Assets</h1>
      <div
        class="d-flex flex-direction-row justify-content-end unassignedBtn margin"
      >
        <a href="/assets" class="btn btn-outline-secondary"
          >Unassigned <i class="fa-solid fa-angles-right"></i
        ></a>
      </div>
      <div class="overflow-auto rounded-lg shadow padding d-none d-lg-block">
        <table class="table table-striped text-center">
          <thead class="table-dark">
            <tr>
              <th scope="col">S.No.</th>
              <th scope="col">Name</th>
              <th scope="col">Assets</th>
              <th scope="col">Description</th>
              <th scope="col">Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach((user, i) => { %>

            <tr>
              <td id="numbering"><%= i+1 %></td>
              <td><%= user.userName %></td>
              <td>
                <a href="/usersHistory/<%= user._id %>">
                  <button type="submit" class="assetBtn">
                    <%= user.asset %>
                  </button>
                </a>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-secondary aboutBtn"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="<%= user.description %>"
                >
                  About
                </button>
              </td>
              <td><%= user.updatedAt %></td>
              <td>
                <button
                  class="btn btn-outline-secondary assetBtn"
                  data-bs-toggle="modal"
                  data-bs-target="#unassign<%= user._id %>"
                  id="unassignBtn<%= user._id %>"
                >
                  UnAssign
                </button>
                <button
                  type="button"
                  data-bs-toggle="modal"
                  class="btn btn-link"
                  data-bs-target="#delete<%= user._id %>"
                  id="deleteBtn<%= user._id %>"
                >
                  <i class="fa-solid fa-trash"></i>
                </button>

                <!--Unassign Modal -->
                <div
                  class="modal fade"
                  id="unassign<%= user._id %>"
                  data-bs-backdrop="static"
                  data-bs-keyboard="false"
                  tabindex="-1"
                  aria-labelledby="pending"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-body pt-5">
                        <form class="row" action="/updateAssets" method="POST">
                          <div class="form-group">
                            <input
                              type="hidden"
                              name="id"
                              value="<%=user._id%>"
                            />
                          </div>
                          <div class="form-group">
                            <input
                              type="hidden"
                              name="unAssignModal"
                              value="unAssign"
                            />
                          </div>
                          <div class="col-md-8 mb-3 m-3 m-auto">
                            <label
                              for="validationDefault01"
                              class="form-label d-flex flex-direction-row justify-content-start"
                              >Enter password</label
                            >
                            <input
                              type="password"
                              placeholder="Password"
                              class="form-control"
                              password="validationDefault01"
                              name="password"
                              autocomplete="off"
                              minlength="6"
                              id="unAssignPasswordInput<%=user._id%>"
                              required
                            />
                            <% if (err && err.unAssignTheId && err.id ===
                            String(user._id)) { %>
                            <div class="unAssignPasswordError mt-2">
                              <p class="d-flex flex-direction-row justify-content-start text-danger">
                                <%= err.message %>
                              </p>
                              <% } %>
                            </div>
                          </div>
                          <div
                            class="d-flex flex-direction-row justify-content-center align-items-center pt-5 pb-4"
                          >
                            <button
                              type="button"
                              class="btn btn-secondary m-2 btn_cancel"
                              data-bs-dismiss="modal"
                              id="unAssignCloseBtn<%=user._id%>"
                            >
                              Close
                            </button>
                            <button type="submit" class="btn btn-primary m-2">
                              Save
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Delete Modal -->
                <div
                  class="modal fade"
                  id="delete<%= user._id %>"
                  data-bs-backdrop="static"
                  data-bs-keyboard="false"
                  tabindex="-1"
                  aria-labelledby="pending"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div
                      class="modal-content"
                    >
                      <div class="modal-body pt-5">
                        <form class="row" action="/assets/delete" method="POST">
                          <div class="form-group">
                            <input
                              type="hidden"
                              name="id"
                              value="<%=user._id%>"
                            />
                          </div>
                          <div class="form-group">
                            <input type="hidden" name="page" value="index" />
                          </div>
                          <div class="col-md-8 mb-3 m-3 m-auto">
                            <label
                              for="validationDefault01"
                              class="form-label d-flex flex-direction-row justify-content-start"
                              >Enter password</label
                            >
                            <input
                              type="password"
                              placeholder="Password"
                              class="form-control"
                              password="validationDefault01"
                              name="password"
                              id="deletePasswordInput<%=user._id%>"
                              autocomplete="off"
                              minlength="6"
                              required
                            />

                            <% if (err && err.deleteAsset && err.id ===
                            String(user._id)) { %>

                            <div class="deletePasswordError mt-2">
                              <p class="d-flex flex-direction-row justify-content-start text-danger">
                                <%= err.message %>
                              </p>
                              <% } %>
                            </div>
                          </div>
                          <div
                            class="d-flex flex-direction-row justify-content-center align-items-center pt-5 pb-4"
                          >
                            <button
                              type="button"
                              class="btn btn-secondary m-2"
                              data-bs-dismiss="modal"
                              id="deleteCancelBtn<%=user._id%>"
                            >
                              Cancel
                            </button>
                            <button type="submit" class="btn btn-primary m-2">
                              Delete
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- responsive to the mobile and tab -->
    <div class="d-block d-lg-none">
      <div class="m-2">
        <table>
          <% users.forEach((user, i) => { %>

          <tr>
            <th>S.NO.</th>
            <th class="information"><%= i + 1 %></th>
          </tr>
          <tr>
            <td>Name</td>
            <td class="information"><%= user.userName %></td>
          </tr>
          <tr>
            <td>Asset</td>
            <td class="information">
              <a href="/usersHistory/<%= user._id %>">
                <button type="submit" class="assetBtn">
                  <%= user.asset %>
                </button>
              </a>
            </td>
          </tr>
          <tr>
            <td class="description">Description</td>
            <td class="information" title="<%= user.description %>">
              <button
                class="btn btn-secondary aboutBtn"
                type="button"
                data-toggle="collapse"
                data-target="#collapseExample2<%= i + 1 %>"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                About<i class="fa-solid fa-angle-down p-2"></i>
              </button>

              <div
                class="collapse text-center mt-2"
                id="collapseExample2<%= i + 1 %>"
              >
                <div class="card card-body"><%= user.description %></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>Date</td>
            <td class="information"><%= user.updatedAt %></td>
          </tr>
          <tr>
            <td>Action</td>
            <td class="information">
              <button
                class="btn btn-outline-secondary assetBtn"
                data-bs-toggle="modal"
                data-bs-target="#unassign1<%= user._id %>"
                id="unassignBtn1<%= user._id %>"
              >
                UnAssign
              </button>
              <button
                type="button"
                data-bs-toggle="modal"
                class="btn btn-link"
                data-bs-target="#delete1<%= user._id %>"
                id="deleteBtn1<%= user._id %>"
              >
                <i class="fa-solid fa-trash"></i>
              </button>

              <!--Unassign Modal -->
              <div
              class="modal fade"
              id="unassign1<%= user._id %>"
              data-bs-backdrop="static"
              data-bs-keyboard="false"
              tabindex="-1"
              aria-labelledby="pending"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body pt-5 p-5">
                    <form class="row" action="/updateAssets" method="POST">
                      <div class="form-group">
                        <input
                          type="hidden"
                          name="id"
                          value="<%=user._id%>"
                        />
                      </div>
                      <div class="form-group">
                        <input type="hidden" name="unAssignModalMbl" value="unAssignMbl" />
                      </div>
                      <div class="mb-3">
                        <label
                          for="validationDefault01"
                          class="form-label d-flex flex-direction-row justify-content-start"
                          >Enter password</label
                        >
                        <input
                          type="password"
                          placeholder="Password"
                          class="form-control"
                          password="validationDefault01"
                          name="password"
                          id="unAssignPasswordInput1<%=user._id%>"
                          autocomplete="off"
                          minlength="6"
                          required
                        />
                        <% if (err && err.unAssignTheIdInMbl && err.id === String(user._id)) { %>
                          <div class="unAssignPasswordError1 mt-2">
                          
                          <p class="d-flex flex-direction-row justify-content-start text-danger"
                          >
                          <%= err.message %>
                        </p>
                        <% } %>
                      </div>
                      </div>
                      <div
                        class="d-flex flex-direction-row justify-content-center align-items-center pb-4"
                      >
                        <button
                          type="button"
                          class="btn btn-secondary m-2"
                          data-bs-dismiss="modal"
                          id="unAssignCloseBtn1<%=user._id%>"
                        >
                          Close
                        </button>
                        <button type="submit" class="btn btn-primary m-2">
                          Save
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
              <!--Delete Modal -->
              <div
                class="modal fade"
                id="delete1<%= user._id %>"
                data-bs-backdrop="static"
                data-bs-keyboard="false"
                tabindex="-1"
                aria-labelledby="pending"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body pt-5 p-5">
                      <form class="row" action="/assets/delete" method="POST">
                        <div class="form-group">
                          <input
                            type="hidden"
                            name="id"
                            value="<%=user._id%>"
                          />
                        </div>
                        <div class="form-group">
                          <input type="hidden" name="deleteModalMbl" value="deleteInMbl" />
                        </div>
                        <div>
                          <label
                            for="validationDefault02"
                            class="form-label d-flex flex-direction-row justify-content-start"
                            >Enter password</label>
                          <input
                            type="password"
                            placeholder="Password"
                            class="form-control"
                            password="validationDefault02"
                            name="password"
                            id="deletePasswordInput1<%=user._id%>"
                            autocomplete="off"
                            minlength="6"
                            required
                          />
                          <% if (err && err.deleteAssetInMbl && err.id ===
                            String(user._id)) { %>

                            <div class="deletePasswordError1 mt-2">
                              <p class="d-flex flex-direction-row justify-content-start text-danger">
                                <%= err.message %>
                              </p>
                              <% } %>
                            </div>
                        </div>
                        <div
                          class="d-flex flex-direction-row justify-content-center align-items-center mb-3 pt-3"
                        >
                          <button
                            type="button"
                            class="btn btn-secondary m-2"
                            data-bs-dismiss="modal"
                            id="deleteCancelBtn1<%=user._id%>"
                          >
                            Cancel
                          </button>
                          <button type="submit" class="btn btn-primary m-2">
                            Delete
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <% }) %>
        </table>
      </div>
    </div>
  </body>
  <script>
  if (window.innerWidth > 900) {
    <% if (err && err.unAssignTheId) { %> 
    window.onload = () => {
          $('#unassign<%= err.id %>').modal('show');
      }
  
  $('#unAssignCloseBtn<%= err.id %>').on('click', function() {
    document.getElementById("unAssignPasswordInput<%=err.id%>").value = '';
    $('.unAssignPasswordError').hide();
  });
      
  <% } %>
  
  //delete button in desktop
  <% if (err && err.deleteAsset) { %> 
    window.onload = () => {
          $('#delete<%= err.id %>').modal('show');
      }
  
  $('#deleteCancelBtn<%=err.id%>').on('click', function() {
    document.getElementById("deletePasswordInput<%=err.id%>").value = '';
    $('.deletePasswordError').hide();
  });
  
  
  <% } %>

  } else {
    <% if (err && err.unAssignTheIdInMbl) { %> 
    console.log("cfdwuylevh")
    window.onload = () => {
          $('#unassign1<%= err.id %>').modal('show');
      }
  
  $('#unAssignCloseBtn1<%= err.id %>').on('click', function() {
    document.getElementById("unAssignPasswordInput1<%=err.id%>").value = '';
    $('.unAssignPasswordError1').hide();
  });
      
  <% } %>

  //delete button in desktop
  <% if (err && err.deleteAssetInMbl) { %> 
    window.onload = () => {
          $('#delete1<%= err.id %>').modal('show');
      }
  
  $('#deleteCancelBtn1<%=err.id%>').on('click', function() {
    document.getElementById("deletePasswordInput1<%=err.id%>").value = '';
    $('.deletePasswordError1').hide();
  });
  
  
  <% } %>

  }
  
  
  </script>
</html>
